.form-background {
    width: 950px;
    height: 350px;
    background-color: rgba(22, 20, 20, 0.755);
    padding-left: 50px;
    padding-right: 50px;
}

.main {
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    padding-top: 25px;
}
.bars{
    display: flex;
    height: 40px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 15px;
}

.links a {
    text-decoration: none;
    color: white;
}

.input input {
    padding: 8px;
    background-color: black;
    border: none;
    color: white;
}

.input input:focus {
    outline: none;
}

.input {
    display: flex;
    flex-basis: 10rem;
    justify-content: center;
    margin-top: 20px;
}

.input input{
    flex-grow: 1;
}

#all {
    color: aqua;
}

#rent {
    
}

.selections {
    margin-top: 30px;
}

.select1 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 25px;
}

select {
    border-radius: none;
    color: white;
    border: none;
    background: #708090;
    padding: 10px;
    width: 100%;
}

.select2 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.last {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.range label {
    color: white;
}

.range input {
    color: blue;
}

.button button {
    background-color: rgb(15, 127, 218);
    color: white;
    width: 200px;
    padding: 6px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
}